.Page {
  background: #143C53;
}
.App {
  text-align: center;
  color: #143C53;
  background: white;
  padding: 0%;
  width: 80%;
  margin: 5% auto;
  border-radius: 10px;
}
 img {
  width: 100%;
 }

 .container {
   display: flex;
   background: white;
   margin: 0px;
   border-radius: 10px;
 }

 .item {
   flex: 1;
   padding: 5%;
   position: relative;
   overflow: hidden;
 }

 .overlay {
   /*display: none;*/
   transition: bottom ease-out 1s;
   position: absolute;
   bottom: -100px;
   left: 0;
   width: 100%;
   color: white;
   background-color: #4C94C2;
   opacity: 1;
 }

 .item:hover .overlay {
   bottom: 0;
   display: block;
 }

 @media only screen and (max-width: 600px) {
  .container {
    flex-direction: column;
  }
}