.Page {
  width: 100%;
  overflow: hidden;
  background-image: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url('./images/homeBg.jpg');
  background-position: center;
  background-size: cover;
  height: 100vh;
  position: relative;
  
}
.App {
  text-align: center;
  color: #143C53;
  background: white;
  padding: 0%;
  width: 100%;
  margin: ;
  border-radius: 0px;
  
}
 img {
  width: 80%;
 }

 